In [ ]:
x = 10, 
변수이름, 값(10)

변수이름 = 값

= -> 할당 한다 

값이 할당(저장)된다.
프로그래밍 언어에서 = 는 변수에 값을 할당(assignment)한다 의미.
수학의 등호와 같은 역할을 하는 연산자는 == 이다.


수학 = -> ==
코딩 = -> 변수에 값을 할당하다

변수이름 규칙
영문 문자와 숫자를 사용
대소문자 구분
문자부터 시작해야 하며 숫자부터 시작 안됨
_(밑줄 문자)로 시작할 수 있음
특수문자는 사용할 수 없음.(+, -, *, /, $, @, &, %)
파이썬의 키워드는 사용할 수 없음. (if, for, while, and, or등)

In [ ]:
6.1.1 변수의 자료형 알아내기

type(변수)

int 정수(integer)
str 문자열(string)

In [ ]:
6.1.2 변수 여러 개를 한 번에 만들기

변수와 값의 개수는 동일하게 맞춰주어야 하며, 나열된 순서대로 값이 할당 된다.

변수 여러 개 만들 때 값이 모두 같아도 된다면 다음과 같은 방식도 사용할 수 있음.
x = y = z = 10

In [2]:
x, y, z = 10, 20, 30

In [3]:
x

10

In [4]:
y

20

In [5]:
z

30

In [7]:
x = y = z = 10

In [8]:
x

10

In [10]:
y

10

In [11]:
z

10

In [12]:
x, y = 10, 20
x ,y = y, x

In [14]:
x

20

In [15]:
y

10

In [ ]:
변수 삭제는 del을 사용 한다.
del 변수

빈 변수 만들기

x = None
print(x)

None 아무것도 없는 상태를 나타내는 자료형
보통 다른 언어에서는 널(null) 이라고 표현 함.

In [16]:
x = None
print(x)

None

In [ ]:
6.2 변수로 계산하기
>>>a = 10
>>>b = 20
>>>c = a + b
>>>c
30

변수는 변수끼리 계산할 수 있고, 계산 결과를 다른 변수에 할당할 수 있음.

In [18]:
a = 10
b = 20
c = a + b
c

30

In [ ]:
6.2.1 산술 연산 후 할당 연산자 사용하기

변수 한 개에서 값의 변화를 계속 유지하려면 계산 결과를 다시 변수에 저장해야 함.

In [19]:
a = 10
a + 20

30

In [21]:
a

10

In [22]:
a = 10
a = a + 20 # a와 20을 더한 후 결과를 다시 a에 저장
a

30

In [23]:
a

30

In [24]:
a = 10
a += 20 # a와 20을 더한 후 결과를 다시 a에 저장
a

30

In [ ]:
연산 후 할당(=)한다는 뜻. 
연산(-, *, /, //)후 할당(=)한다는 뜻. 
+=, -=, *=, 나눗셈(/=, //=), 나머지(%=)

In [ ]:
부호 붙이기,
x = -10
+x

In [25]:
x = -10
+x

-10

In [26]:
x = -10
-x

10

In [ ]:
6.3.1 input 함수 사용하기
매번 다른 값을 변수에 할당!!!
사용자가 이렵학한 값을 가져오는 함수

input()

In [28]:
input()

Hello, world!

'Hello, world!'

In [29]:
변수 = input()

Hello, world!

In [31]:
변수 = input('문자열')

문자열go

In [32]:
x = input('문자열을 입력하세요: ')

문자열을 입력하세요: a

In [ ]:
여기에 문자열을 입력한 뒤 엔터 키를 누르면 입력한 그대로 출력된다.
즉, 이 문자열은 사용자에게 입력받는 값의 용도를 미리 알려 줄 때 사용한다. 
다른 말로는 프롬프트(prompt)라고도 부른다. 
파이썬 프롬프트 >>> 와 같은 의미이다.

In [ ]:
6.3.3 두 숫자의 합 구하기

In [33]:
a = input('첫 번째 숫자를 입력하세요: ')
b = input('두 번째 숫자를 입력하세요: ')
print(a + b)

첫 번째 숫자를 입력하세요: 1
두 번째 숫자를 입력하세요: 2
12

In [ ]:
왜 이런 결과가 나왔을까?
input에서 입력받은 값은 항상 문자열 형태이기 때문에 그렇다.
input과 split의 결과는 모두 문자열이 중요함 !!
즉, input에서 입력받은 값은 항상 문자열 형태이기 때문이다.

10과 20은 겉보기에는 숫자이지만, 실제로는 문자열 이므로 1과 2를 +로 연결하여 12가 나오게 된것.
이럴땐?

input의 결과를 변수에 저장한 뒤 type을 사용해보면 input의 결과가 문자열(str)이라는 것을 알 수 있다.

In [34]:
a = input()

10

In [35]:
type(a)

str

In [ ]:
6.3.4 입력 값을 정수로 변환하기

변수 = int(input())
변수 = int(input('문자열'))

In [37]:
c = int(input('첫번째 숫자를 입력하세요: ')) # int를 사용하여 입력 값을 정수로 변환
d = int(input('두번째 숫자를 입력하세요: ')) # int를 사용하여 입력 값을 정수로 변환
print(c+d)

첫번째 숫자를 입력하세요: 1
두번째 숫자를 입력하세요: 2
3

In [ ]:
6.4 입력 값을 변수 두 개에 저장하기

input에서 split을 사용한 변수 여러 개에 저장해주면 됨.
각 변수는 콤마로 구분해 줌.
split은 분리하다, 나누다 라는 뜻.
()입력 받은 값을 공백을 기준으로 분리.

- 변수1, 변수2 = input().split()
- 변수1, 변수2 = input().split('기준문자열')
- 변수1, 변수2 = input('문자열').split()
- 변수1, 변수2 = input('문자열').split('기준문자열')

In [41]:
a, b = input('문자열 두 개를 입력하세요: ').split() # 입력받은 값을 공백을 기준으로 분리

print(a)
print(b)

a에는 Hello
b에는 Python 저장 됨.

문자열 두 개를 입력하세요: Hello Python
Hello
Python

In [ ]:
6.4.1 두 숫자의 합 구하기

3이 나와야 하는데, 12 나옴.
왜? input에서 입력 받은 값은 문자열이고, 이 문자열은 split으로 분리해도 문자열이기 때문.

6.4.2 입력 값을 정수로 변환하기

10+20의 결과가 30이 나오게 하려면 변수 a와 b를 정수로 변환 해줘야 함.

In [42]:
a, b = input('숫자 두 개를 입력하세요: ').split()
print(a+b)

숫자 두 개를 입력하세요: 1 2
12

In [43]:
a, b = input('숫자 두 개를 입력하세요: ').split() # 입력 받은 값을 공백을 기준으로 분리
a = int(a) # 변수를 정수로 변환 한 뒤 다시 저장
b = int(b)

print(a+b)

숫자 두 개를 입력하세요: 1 2
3

In [44]:
a, b = input('숫자 두 개를 입력하세요: ').split() # 입력 받은 값을 공백을 기준으로 분

print(int(a)+int(b))

숫자 두 개를 입력하세요: 1 2
3

In [ ]:
6.4.3 map을 사용하여 정수로 변환하기

split의 결과를 매번 int로 변환해주려니 귀찮습니다.
이때는 map을 함께 사용하면 된다.
map에 int와 input().split()을 넣으면 split의 결과를 모두 int로 변환해줍니다.
실수로 변환할 때는 int 대신 float를 넣습니다.

- 변수1, 변수2 = map(int, input().split())
- 변수1, 변수2 = map(int, input().split('기준문자열'))
- 변수1, 변수2 = map(int, input('문자열').split())
- 변수1, 변수2 = map(int, input('문자열').split('기준문자열'))

In [45]:
a, b = map(int, input('숫자 두 개를 입력하세요: ').split())
print(a + b)

숫자 두 개를 입력하세요: 3 6
9

In [48]:
# 6.4.4 입력받은 값을 콤마를 기준으로 분리하기

a, b = map(int, input('숫자 두 개를 입력하세요: ').split(',')) # 입력받은 값을 콤마를 기준으로 분리하기
print(a + b)

숫자 두 개를 입력하세요: 3,6
9

In [ ]:
input과 split의 결과가 모두 문자열이라는 점이 중요함 !!
숫자 계산 시 -> int, float를 사용해서 결과를 숫자로 변환
split의 결과를 모두 int, float로 변환할때는 map 사용 편리

In [ ]:
6.7 심사문제: 변수 만들기
    
50
100
None

In [50]:
a = 50
b = 100
c = None

print(a)
print(b)
print(c)

50
100
None

In [ ]:
6.8 심사문제: 평균 점수 구하기

평균 점수를 출력하는 프로그램을 만들기. 
단, 평균 점수를 출력할 때는 소수점 이하 자리는 버립니다. (정수로 출력)

표준 입력 국어, 영어, 수학, 과학 점수

4과목

83 92 87 90

In [58]:
a, b, c, d = map(int, input().split())

print(int((a+b+c+d)/4))

95 75 87  88
86