In [ ]:
16.5. 연습문제: 리스트의 요소에 10을 곱해서 출력하기

In [29]:
x = [49, -17, 25, 102, 8, 62, 21]

for i in x:
    print(i * 10, end=' ')

490 -170 250 1020 80 620 210

In [ ]:
16.6 심사문제: 구구단 출력하기
    
    표준 입력으로

In [24]:
x = int(input())

for i in range(1,10):
    print(x, i, sep = ' * ', end = ' = ')
    print(x*i)

10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90

In [25]:
x = int(input())

for i in range(1, 10):
    print(x, i, sep = ' * ',end = ' = ')
    print(x*i)

3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [ ]:
for 변수 in range(횟수)
    반복할 코드

In [3]:
for i in range(10):
    print('Hello, world!', i)

Hello, world! 0
Hello, world! 1
Hello, world! 2
Hello, world! 3
Hello, world! 4
Hello, world! 5
Hello, world! 6
Hello, world! 7
Hello, world! 8
Hello, world! 9

In [5]:
for i in range(5, 12):
 print('Hello, World', i)

Hello, World 5
Hello, World 6
Hello, World 7
Hello, World 8
Hello, World 9
Hello, World 10
Hello, World 11

In [8]:
for i in range(0, 10, 2):
    print('HELLO, World!', i)

HELLO, World! 0
HELLO, World! 2
HELLO, World! 4
HELLO, World! 6
HELLO, World! 8

In [10]:
for i in range(10, 0, -1): #10에서 1까지 1씩 감소
    print('Hello, World!', i)

Hello, World! 10
Hello, World! 9
Hello, World! 8
Hello, World! 7
Hello, World! 6
Hello, World! 5
Hello, World! 4
Hello, World! 3
Hello, World! 2
Hello, World! 1

In [11]:
for i in reversed(range(10)):
    print('Hello, world!', i)

Hello, world! 9
Hello, world! 8
Hello, world! 7
Hello, world! 6
Hello, world! 5
Hello, world! 4
Hello, world! 3
Hello, world! 2
Hello, world! 1
Hello, world! 0

In [12]:
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [13]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
for i in range(10):
    print(i, end='/')

0/1/2/3/4/5/6/7/8/9/

In [16]:
count = int(input('반복할 횟수를 입력하세요: '))

for i in range(count):
    print('Hello, world', i)

반복할 횟수를 입력하세요: 10
Hello, world 0
Hello, world 1
Hello, world 2
Hello, world 3
Hello, world 4
Hello, world 5
Hello, world 6
Hello, world 7
Hello, world 8
Hello, world 9

In [17]:
a = [10, 20, 30, 40, 50]
for i in a:
    print(i)

10
20
30
40
50

In [18]:
fruits = ('apple', 'orange', 'grape')
for fruit in fruits:
    print(fruit)

apple
orange
grape

In [21]:
fruits = ('apple', 'orange', 'grape')
for i in fruits:
    print(i)

apple
orange
grape

In [22]:
for letter in 'python':
    print(letter, end=' ')

p y t h o n

In [23]:
for i in 'python':
    print(i, end=' ')

p y t h o n

In [24]:
for i in reversed('Python'):
    print(i, end = ' ')

n o h t y P

In [28]:
for i in reversed('LeeYongmi'):
    print(i, end=' ')

i m g n o Y e e L