In [13]:
count = int(input('반복할 횟수를 입력하세요: '))

i = 0
while i < count:   # 반복문의 조건식
    print('Hello, world!', i)
    i += 1

반복할 횟수를 입력하세요: 3
Hello, world! 0
Hello, world! 1
Hello, world! 2

In [17]:
count = int(input('반복할 횟수를 입력하세요: '))

while count > 0:
    print('Hello, world!', count)
    count -= 1

반복할 횟수를 입력하세요: 3
Hello, world! 3
Hello, world! 2
Hello, world! 1

In [18]:
i = 2
j = 5

while i <= 32 or j >= 1:
    print(i, j)
    i *= 2
    j -= 1

2 5
4 4
8 3
16 2
32 1

In [19]:
fee = int(input())
fare = 1350

while fee >= fare:
    fee -= fare
    print(fee)

10000
8650
7300
5950
4600
3250
1900
550

In [5]:
x = int(input())
for i in range(1, 10):
    print(x, i, sep=' * ', end=' = ')
    print(x*i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [20]:
x = int(input())
for i in range(1, 10):
    print(x, i, sep = '*', end='=')
    print(x*i)

6
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54

In [21]:
#0과 73 사이의 숫자 중 3으로 끝나는 숫자만 출력되게 만드세요.

i = 0
while True:
    if i % 10 != 3:
        i += 1
        continue
    
    if i > 73:
        break
    
    print(i, end=' ')
    i += 1

3 13 23 33 43 53 63 73

In [27]:
start, stop = map(int, input().split())

i = start

while True:
    if i > stop:
        break
    if i % 10 == 3:
        i += 1
        continue
    print(i, end=' ')
    i += 1

21 33
21 22 24 25 26 27 28 29 30 31 32

In [31]:
start, stop = map(int, input().split())
i = start

while True:
    if i > stop:
        break
    if i % 10 == 3:# 나머지 값만
        i += 1
        continue
    print(i, end=' ')
    i += 1

21 33
21 22 24 25 26 27 28 29 30 31 32

In [35]:
for i in range(5):
    for j in range(5):
        print('j:', j, sep='', end=' ' )
    print('i:', i, '\\n', sep='')

j:0 j:1 j:2 j:3 j:4 i:0\n
j:0 j:1 j:2 j:3 j:4 i:1\n
j:0 j:1 j:2 j:3 j:4 i:2\n
j:0 j:1 j:2 j:3 j:4 i:3\n
j:0 j:1 j:2 j:3 j:4 i:4\n

In [43]:
for i in range(5):
    for j in range(5):
        print('*', end='')
    print()

*****
*****
*****
*****
*****

In [47]:
for i in range(5):
    for j in range(5):
        print('*', end='')
    print()

*****
*****
*****
*****
*****

In [49]:
for j in range(5):
    print('*', end='')

*****

In [59]:
for i in range(5):
    for j in range(5):
        print('*', end='\n')
    print()

*
*
*
*
*

*
*
*
*
*

*
*
*
*
*

*
*
*
*
*

*
*
*
*
*

In [67]:
for i in range(3):
    for j in range(7):
        print('*', end='')
    print()

*******
*******
*******

In [68]:
#사각형 모양 바꾸기

for i in range(3):
    for j in range(7):
        print('*', end='')
    print()

*******
*******
*******

In [70]:
#계단식으로 별 출력하기

for i in range(5):
    for j in range(5):
        if j <= i:
            print('*', end='')
    print()

*
**
***
****
*****

In [71]:
for i in range(5):
    for j in range(5):
        if j <= i:
            print('*', end='')
    print()

*
**
***
****
*****

In [74]:
for i in range(5):
    for j in range(5):
        if j <= i:
            print('*', end='')
    print()

*
**
***
****
*****

In [75]:
for i in range(5):
    for j in range(5):
        if j <= i:
            print('*', end= ' ')

* * * * * * * * * * * * * * *

In [77]:
for i in range(5):
    for j in range(5):
        if j <= i:
            print('*', end= ' ')
    print('i:', i, '\\n', sep=' ')

* i: 0 \n
* * i: 1 \n
* * * i: 2 \n
* * * * i: 3 \n
* * * * * i: 4 \n

In [78]:
for i in range(5):
    for j in range(5):
        if j <= i:
            print('*', end= ' ')
    print(i)

* 0
* * 1
* * * 2
* * * * 3
* * * * * 4

In [104]:
for i in range(5):
    for j in range(5):
        if j <= i:
            print('*', end='')
    print()

*
**
***
****
*****

In [80]:
for i in range(5):
    for j in range(5):
        if j == i:
            print('*', end='')
    print()

*
*
*
*
*

In [84]:
for i in range(5):
    for j in range(5):
        if j == i:  #세로 방향 변수와 같을 때
            print('*', end='') # end에 ''를 지정하여 줄바꿈을 하지 않음
        else:
            print(' ', end='')
    print()

*
 *
  *
   *
    *

In [90]:
for i in range(5):
    for j in range(5):
        if j == i:
            print('*', end='')
        else:
            print(' ', end='')
    print()

*
 *
  *
   *
    *

In [100]:
for i in range(5):
    for j in range(5):
        if j < i:
            print(' ', end='')
        else:
            print('*', end='')
    print()

*****
 ****
  ***
   **
    *

In [102]:
for i in range(5):
    for i in range(5):
        if j <= i:
            print(' ', end='')
        else:
            print('*', end='')
    print()

****
****
****
****
****

In [105]:

    
for i in range(5):
    for j in range(5):
        if j <= i:
            print('*', end='')
    print()

5
    *
   ***
  *****
 *******
*********
*
**
***
****
*****

In [110]:
for i in range(5):
    for j in range(5):
        if j < i: #i는 세로방향 변수
            print(' ', end='')
        else:
            print('*', end='')
    print()

*****
 ****
  ***
   **
    *

In [109]:
x = int(input())

for i in range(x):
    for j in range(x-i-1):
        print(' ', end='')
    for j in range(2*i+1):
        print('*', end='')

    *   ***  ***** ****************

In [ ]:
for i in range(5):
    for j in range(5-0-1) (4):
        print(' ', end='')
    for j in range(2*0+1) (1):
        print('*', end='')
        
                
for i in range(5):
    for j in range(5-1-1) (3):
        print(' ', end='')
    for j in range(2*1+1) (3):
        print('*', end='')       
        
        
for i in range(5):
    for j in range(5-2-1) (2):
        print(' ', end='')
    for j in range(2*2+1) (5):
        print('*', end='')
        
for i in range(5):
    for j in range(5-3-1) (1):
        print(' ', end='')
    for j in range(2*3+1) (7):
        print('*', end='')
        
        
for i in range(5):
    for j in range(5-4-1) (0):
        print(' ', end='')
    for j in range(2*4+1) (9):
        print('*', end='')

In [30]:
#19.6 심사문제: 산 모양으로 별 출력하기
#표준 입력으로 삼각형의 높이가 입력됩니다.


x = int(input())

for i in range(x):
    for j in range(x-i-1):
        print(' ', end='')    
    for j in range(2*i+1): # 홀수
        print('*', end='')
        
    for j in range(2*i-1): # reverse
        print('*', end='')    
    for j in range(x-i+1):
        print(' ', end='')     
        
    print()

5
    *
   ****
  ********
 ************
****************

In [50]:
x = int(input())

for i in range(x):
    
    for j in range(x-i-1):
        print(' ', end='')    
    for j in range(2*i+1):
        print('*', end='')
        
    if j >= i:
        print(' ', end='')
    else:
        print('*', end='')

    print()

3
  *
 ***
*****

In [54]:
x = int(input())

for i in range(x):
    for j in range(x-i+1):
        print(' ', end='')  
    for j in range(2*i-1):
        print('*', end='')    
    print()

5

     *
    ***
   *****
  *******

In [60]:
x = int(input())

for i in range(x):
    for j in range(x-i+1):
        print(' ', end='')
    for j in range(2*i-1):
        print('*', end='')
        
        if j <= i:
            
            for j in range(2*i-1): # reverse
                print('*', end='')    
            for j in range(x-i+1):
                print(' ', end='')     
    print()

5

     **
    ****    ****    ****
   ******   ******   ******   ******   *
  ********  ********  ********  ********  ********  **

In [61]:
x = int(input())

for i in range(x):
    for j in range(x-i+1):
        print(' ', end='')
    for j in range(2*i-1):
        print('*', end='')
    print()

3

   *
  ***

In [64]:
x = int(input())

for i in range(x):
    for j in range(x-i+1):
        print(' ', end='')
    for j in range(2*i-1):
        print('*', end='')
        
#         if j == i:
#             print(' ', end='')
#         else:
#             print('*', end='')
        
    print()

5

     *
    ***
   *****
  *******

In [6]:
x = int(input())

# i = 2*i+1

for i in range(x):
    for j in range(x-i-1):
        print(' ', end='')     
    for j in range(2*i+1):
        print('*', end='')
    for j in range(x+i+1):
        print(' ', end='')
    for j in range(2*i-1):
        print('*', end='')
        
    print()

5
    *
   ***       *
  *****        ***
 *******         *****
*********          *******

In [16]:
x = int(input())

for i in range(x):
    for j in range(2*i-1):
        print(' ', end = '')
    for j in range(x-i-1):
        print('*', end = '')
        
    print()

3
**
 *

In [ ]:
for i in range(5):
    for j in range(5):
        if j ==

In [67]:
x = int(input())

for i in range(x):
    
    for j in range(x-i-1):
        print(' ', end='')    
    for j in range(2*i+1): # 홀수
        print('*', end='')
    
    print()

5
    *
   ***
  *****
 *******
*********

In [76]:
x = int(input())

for i in range(x):
    
    for j in range(x-i-1):
        print(' ', end='')    
    for j in range(2*i+1): # 홀수
        print('*', end='')
    
    print()

5
    *
   ***
  *****
 *******
*********

In [78]:
x = int(input())
for i in range(x):
    for j in range(x):
        print('*', end='')
    print()

3
***
***
***

In [73]:
x = int(input())

for i in range(x):
    
    for j in range(x-i+1): # reverse
        print(' ', end='')    
    for j in range(2*i-1):
        print('*', end='')     
        
    print()

5

     *
    ***
   *****
  *******

In [74]:
x = int(input())   

for i in range(5)

SyntaxError: invalid syntax (<ipython-input-74-aecb2968ea0c>, line 3)

In [ ]:
for i in range(x) :
        n = int((x+1)/2)

        if i<n :
            for j in range((x-n)-i) :
                print(' ', end='')
            for j in range(1+(i*2)) :
                print('*', end='')
            for j in range((x-n)-i) :
                print(' ', end='')
        else :
            for j in range(i-n+1) :
                print(' ', end='')
            for j in range(x-(2*(i-n+1))) :
                print('*', end='')
            for j in range(i-n+1) :
                print(' ', end='')
        print()

In [95]:
x = int(input())
# a = x*i

for i in range(1, 10):
    print(x, sep=' * ', i,sep ' = ', x*i, end = '')

SyntaxError: invalid syntax (<ipython-input-95-40e623d468b0>, line 4)